/* 

input with all different colors

input with validation 

input with icon prefix

*/
.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.4rem;
}

.input-wrapper.with-icon {
  position: relative;
  flex-direction: row;
}

.input-wrapper.with-icon > i {
  color: var(--black);
  font-size: 1.25rem;
  left: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 10;
}

.input-wrapper.with-icon .input {
  flex-grow: 1;
  padding-left: 3.4rem;
}

.input-wrapper .error-msg {
  font-size: 0.85rem;
}
.input-wrapper .input {
  border: none;
  outline: 1px solid var(--text-secondary);
  padding: 1rem;
  position: relative;
  font-size: 1rem;
}
.input-wrapper .input:focus-visible {
  border: none;
  outline-width: 2px;
  outline-color: var(--primary-main);
}
.input:hover {
  border: none;
  outline: 2px solid var(--black);
}
.input-wrapper.is-invalid {
  color: var(--error-light);
}
.input-wrapper.is-invalid .input:focus-visible {
  outline-width: 2px;
}
.input-wrapper.is-invalid .input {
  border: none;
  outline: 1px solid var(--error-light);
}
.input-wrapper.is-invalid input::placeholder {
  color: var(--error-light);
}

.input-wrapper.success .input {
  border: none;
  outline: 2px solid var(--success-main);
}
.input-wrapper.success .input:focus-visible {
  outline: 2px solid var(--success-light);
}

input[type="checkbox"],
input[type="radio"] {
  height: 1.25rem;
  width: 1.25rem;
}
