/* Reference https://milligram.io/ */
.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  border: none;
  color: initial;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  line-height: 3.5rem;
}

.btn:hover,
.btn:focus {
  outline: 0;
  transition: transform 0.3s;
}

.btn[disabled] {
  cursor: default;
  opacity: 0.5;
}

/* basic buttons */

.btn-primary {
  background-color: var(--primary-main);
  border: 0.1rem solid var(--primary-main);
  color: white;
}
.btn-primary:hover {
  background-color: var(--primary-dark);
  transform: translateY(-3px);
}

.btn-secondary {
  background-color: var(--secondary-main);
  border-color: var(--secondary-main);
  color: white;
  outline: 0;
}

.btn-secondary:hover {
  background-color: var(--secondary-dark);
  transform: translateY(-3px);
}
.btn-error {
  background-color: var(--error-main);
  border-color: var(--error-main);
  color: white;
  outline: 0;
}
.btn-error:hover {
  background-color: var(--error-dark);
  transform: translateY(-3px);
}
.btn-warning {
  background-color: var(--warning-main);
  border-color: var(--warning-main);
  color: white;
  outline: 0;
}

.btn-warning:hover {
  background-color: var(--warning-dark);
  transform: translateY(-3px);
}
.btn-warning {
  background-color: var(--warning-main);
  border-color: var(--warning-main);
  color: white;
  outline: 0;
}

.btn-warning:hover {
  background-color: var(--warning-dark);
}

/* outline buttons */
.btn-outline-primary {
  background-color: transparent;
  border: 1px solid;
  color: var(--primary-main);
}
.btn-outline {
  color: var(--black);
  border: thin solid var(--grey-light);
  background-color: transparent;
  min-width: 200px;
  /* TODO: need to remove this width */
}
.btn-outline-primary:hover {
  color: white;
  background-color: var(--primary-main);
}

.btn-outline-secondary {
  background-color: transparent;
  border: 1px solid;
  color: var(--secondary-main);
}

.btn-outline-secondary:hover {
  color: white;
  background-color: var(--secondary-main);
}

.btn-outline-error {
  background-color: transparent;
  border: 1px solid;
  color: var(--error-main);
}

.btn-outline-error:hover {
  color: white;
  background-color: var(--error-main);
}

/* special buttons */
.btn-link {
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn-link-primary:hover {
  background-color: var(--primary-ultra);
  color: var(--primary-dark);
}

.btn-link-secondary:hover {
  background-color: var(--secondary-ultra);
  color: var(--secondary-dark);
}

.btn-link-warning:hover {
  background-color: var(--warning-ultra);
  color: var(--warning-dark);
}

.btn-link-success:hover {
  background-color: var(--success-ultra);
  color: var(--success-dark);
}

.icon-btn {
  border-radius: 50%;
  border: none;
  background-color: initial;
  padding: 8px;
  display: inline-flexbox;
}

.btn-fab {
  border-radius: 50%;
  background-color: var(--primary-main);
  box-shadow: 1px 1px 2px;
  color: white;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.2rem;
  padding: 5px;
  line-height: 1.5rem;
}

.btn-fab-secondary {
  background-color: var(--secondary-main);
}

.btn-fab-error {
  background-color: var(--error-main);
}

.btn-fab:hover {
  box-shadow: 2px 1px 8px 0px rgba(0, 0, 0, 0.75);
  color: white;
}

.btn-icon {
  width: 0.9em;
  height: 0.9em;
  fill: currentColor;
  margin-right: 0.5em;
}

.btn-icon.end {
  margin-right: 0;
  margin-left: 0.5em;
}
