.h1 {
  font-size: 48px;
  line-height: 3.75rem;
}

.h2 {
  font-size: 38px;
  line-height: 3rem;
}

.h3 {
  font-size: 28px;
  line-height: 2.2rem;
}

.h4 {
  font-size: 18px;
  line-height: 1.5rem;
}

.hero {
  font-size: 60px;
  line-height: 4.7rem;
}

.text-xs {
  font-size: 12px;
  line-height: 14px;
}

.text-sm {
  font-size: 14px;
  line-height: 18px;
}
.text-md {
  font-size: 16px;
  line-height: 20px;
}
.text-lg {
  font-size: 18px;
  line-height: 22px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-primary {
  color: var(--primary-main);
  background-color: var(--primary-ultra);
}

.text-secondary {
  color: var(--secondary-main);
  background-color: var(--secondary-ultra);
}

.text-warning {
  color: var(--warning-main);
  background-color: var(--warning-ultra);
}

.text-success {
  color: var(--success-main);
  background-color: var(--success-ultra);
}

.text-error {
  color: var(--error-main);
  background-color: var(--error-ultra);
}

.text-uppercase {
  text-transform: uppercase;
}
