/* 
Cards with badges

Cards with dismiss

Cards with text overlay

Text only cards

Vertical/Horizontal cards
Cards with shadow
*/
.card {
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 20rem;
  padding: 1rem;
}

.card:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.card-title {
  margin: 0.5rem 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.card-sub-title {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  font-weight: 700;
}
.card-media {
  position: relative;
}

.card-media img {
  width: 100%;
  object-fit: cover;
  max-height: 200px;
}

.card-body {
  color: var(--text-secondary);
  font-size: 1rem;
}

.card.horizontal {
  width: 25rem;
}
.card.horizontal .card-body {
  display: flex;
  gap: 10px;
}
.card.horizontal .card-body {
  display: flex;
}
.card.card.horizontal .card-media img {
  height: 100px;
  width: 100px;
}
