/* Color Variables 
 credit : https://mui.com/customization/palette/#palette-colors
*/
:root {
  --primary-ultra: #ebebff;
  --primary-light: #42a5f5;
  --primary-main: #1976d2;
  --primary-dark: #1565c0;

  --secondary-ultra: #ebc9f1;
  --secondary-light: #ba68c8;
  --secondary-main: #9c27b0;
  --secondary-dark: #7b1fa2;

  --error-ultra: #fff0f0;
  --error-light: #ef5350;
  --error-main: #d32f2f;
  --error-dark: #c62828;

  --warning-ultra: #fff2e5;
  --warning-light: #ff9800;
  --warning-main: #ed6c02;
  --warning-dark: #e65100;

  --info-light: #03a9f4;
  --info-main: #0288d1;
  --info-dark: #01579b;

  --success-ultra: #e1f7e3;
  --success-light: #4caf50;
  --success-main: #2e7d32;
  --success-dark: #1b5e20;

  --grey-ultra: #f8f9fa;
  --grey-light: #e9eaf0;
  --grey-main: #dee2e6;
  --grey-dark: #a1a5b3;

  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-disabled: rgba(0, 0, 0, 0.38);
  --white: #ffffff;
  --black: #000000;
  --grey-light: #e9eaf0;
  --grey-bg: #f0f2f5;
  --black-rgb: 0, 0, 0;
}

.primary {
  color: var(--primary-main);
}
.secondary {
  color: var(--secondary-main);
}
.warning {
  color: var(--warning-main);
}
.error {
  color: var(--error-main);
}
.success {
  color: var(--success-main);
}
