/* alignments */
.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-y {
  display: flex;
  align-items: center;
}

.flex-center-x {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-between {
  justify-content: space-between;
}
.flex-ai-center {
  align-items: center;
}

.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex-gap-0 {
  gap: 0.5rem;
}
.flex-gap {
  gap: 1rem;
}

.flex-gap-2 {
  gap: 2rem;
}

.flex-gap-3 {
  gap: 3rem;
}

.flex-gap-4 {
  gap: 4rem;
}

.flex-gap-5 {
  gap: 5rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.shadow-xs {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.shadow-sm {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}
.shadow-md {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12) !important;
}
.shadow-lg {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}
.p-1 {
  padding: 1rem;
}
.px-1 {
  padding: 0 1.25rem;
}
.py-1 {
  padding: 1rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.p-20 {
  padding: 20px;
}

.badge-color-1 {
  background-color: var(--primary-ultra);
}
.badge-color-2 {
  background-color: var(--secondary-ultra);
}
.badge-color-3 {
  background-color: var(--warning-ultra);
}
.badge-color-4 {
  background-color: var(--success-ultra);
}
.badge-color-5 {
  background-color: var(--error-ultra);
}

.h-100 {
  height: 100px;
}
